---
layout: index
permalink: /
---

<div class="container mtb">
    <div class="col-lg-6 col-lg-offset-3 centered">
        <h2>LISTEN LIVE</h2>
        <div class="spacing"></div>
    </div>
    {% include mixlr_embed.html %}
</div>

<div class="container mtb">
    <div class="col-lg-6 col-lg-offset-3 centered">
        <h2>VISIT SHOW ARCHIVES</h2>
        <div class="spacing"></div>
    </div>
    {% include mixlr_profile.html %}
</div>

<div class="container mtb">
    {% include show-links.html title="shows" limit=5 %}
</div>

<div class="container mtb">
    <div class="col-lg-6 col-lg-offset-7">
        <h4><a href="{{"/shows/" | prepend: site.baseurl }}">more shows ➞</a></h4>
    </div>
</div>
