<div id="grouillade-links">
    <div class="row">
        <div class="col-lg-8">

        {% if include.title %}<h2>{{ include.title }}</h2>{% endif %}
        <div class="spacing"></div>

            {% for post in site.categories['grouillades'] limit:include.limit %}
                <div>
                    <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
                    <p>{{ post.date | date: "%-d %B %Y" }}</p>
                </div>

                <div class="spacing"></div>

                <a href="{{ post.url | prepend: site.baseurl }}">
                  <img width="90%" height="420" src="http://img.youtube.com/vi/{{ post.youtube }}/0.jpg" alt="{{ post.title }}" />
                </a>

                <div class="spacing"></div>

                <div class="hline"></div>
            {% endfor %}

        </div><! --/col-lg-8 -->
    </div><! --/row -->
</div><! --/container -->
