<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand h3" href="{{ "/"  | prepend: site.baseurl }}">{{ site.title }}</a>
    </div>
    <div class="navbar-collapse collapse navbar-right h4">
      <ul class="nav navbar-nav">
        <li {% if page.title == "shows" %}class="active"{% endif %}><a href="{{"/shows/" | prepend: site.baseurl }}">shows</a></li>
        <li {% if page.title == "grouillades" %}class="active"{% endif %}><a href="{{"/grouillades/" | prepend: site.baseurl }}">grouillades</a></li>
        <li {% if page.title == "about" %}class="active"{% endif %}><a href="{{"/about/" | prepend: site.baseurl }}">about</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
