<div id="show-links">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 centered">

        {% if include.title %}<h2>{{ include.title }}</h2>{% endif %}
        <div class="spacing"></div>

        {% for show in site.categories['shows'] limit:include.limit %}
            <div class="he-wrap tpl6">
                <img src="{{ "/assets/img/shows/" | prepend: site.baseurl }}{{ show.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h2 class="a1" data-animate="fadeInDown">{{ show.title }}</h2>
                        <h4 data-animate="fadeInDown"><csmall>{{ show.date | date: "%b %-d, %Y" }}</csmall></h4>
                        <a href="{{  show.url | prepend: site.baseurl }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                        <a href="https://www.mixcloud.com/disconomics/disconomics-{{  show.number }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-music"></i></a>
                    </div><!-- he bg -->
                </div><!-- he view -->
            </div><!-- he wrap -->

            <div class="spacing"></div>
        {% endfor %}

        </div>
    </div>
</div>
